<form action="/events/create" method="post">
  Organizer Name:  <input type="text" name="name"><br>
  Organizer Email: <input type="email" name="email"><br>
  Event Title:     <input type="text" name="title"><br>
  Event Date:      <input type="date" name="date"><br>
  <input type="submit" value="Create Event">
</form>